<!DOCTYPE html>
<html>
  <head>
    <title>SHAB-TECH</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      #pix {height: 550px; width: 100% ;object-fit: cover}
    </style>
    
  </head>
  <body>
   <div class = "container">
    <h1 class ="text-center mt-2 mb-4">SHAB-TECH</h1>
    <img class = "img-fluid" id = "pix" src = "https://mimi-shab-website--ihechinneji.repl.co/static/pix.jpg">
    <h2 class = "text-center mt-2 mb-4">About Shab-Tech</h2>
    <p class = "lead">
     SHAB-TECH is a Tech and IT company that offers a wide range of services, ranging from software development, python development, web design and web development to digital marketing. We also specialize in IT, Forex-trade and Freelancing training. One thing that makes us stand head and shoulder above others is our commitment to customer satisfaction. At  SHAB-TECH, we go above and beyond to ensure that each client is happy with our final products and services.
    </p>
    <h2 class = "text-center mt-2 mb-4">Open Positions</h2>
    <div>
      {% for job in jobs%}
        {% include "jobitem.html" %}
      {% endfor%}
    </div>    
    <div style = "text-align: center;">
      <button class = "btn btn-primary btn-lg">Contact Us</button>
        <p class = "mt-4">copyright 2023, Shab-Tech</p>
      </div>
    </div>
  </body>
</html>